<div>
  <h1>{{title}}</h1>
  <h2>Se confirmo el nivel de privilegios. Estado: {{priv}}</h2>

  <h3>Usuarios - Buscar por Email</h3>

<select id="userList">
  {{#each users}}
    <option value="{{this.email}}">{{this.email}}</option>
  {{/each}}
</select>



  <button id="modifyUser">Modificar Rol</button>
  <button id="deleteUser">Eliminar Usuario</button>

  <div id="userInfo">
  </div>

  <a href="/">Volver al inicio</a>

</div>
<script src="../static/js/management.js"></script>