{{#if loginStatus}}
  <div>
    <h1>Ya hay una sesion activa</h1>
  </div>
  <script> setTimeout(() => { window.location.replace("/"); }, 3000);</script>
{{else}}
  <div>
    <h1>{{title}}</h1>
    <form id="loginForm">
      <div>
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div>
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        />
      </div>
      <button type="submit">Iniciar sesión</button>
    </form>
    <a href="/register">Registrarse</a>
    <div id="messageContainer" style="display: none;"></div>
  </div>
  <script src="../static/js/login.js"></script>
{{/if}}