<h1>Cart {{cartId}}</h1>

{{#if products.length}}
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{_id}}</td>
          <td>{{quantity}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <p>No hay productos en el carrito.</p>
{{/if}}
